<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
    href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

<script src=''></script>
    <title>Document</title>
</head>
<body>
    <form action="../Logica/Tipos/Pregunta5.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Arrays</h2>
            <p>Un array en PHP es en realidad un mapa ordenado. Un mapa es un tipo de datos que asocia valores con claves. Este tipo se optimiza para varios usos diferentes; se puede emplear como un array, lista (vector), tabla asociativa (tabla hash - una implementación de un mapa), diccionario, colección, pila, cola, y posiblemente más.</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>5. Digite un numero teniendo encuenta los dias de la semana ya que:</p><br>
            <li>0. Domingo</li>
            <li>1. Lunes</li>
            <li>2. Martes</li>
            <li>3. Miercoles</li>
            <li>4. Jueves</li>
            <li>5. Viernes</li>
            <li>6. Sabado</li><br>

            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Digite un numero del 1 al 6</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="Campo1">
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" value="Sumar">Enviar</button>
        </fieldset>
      </form>
</body>
</html>