<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>
<body>
    <form action="../Logica/Tipos/Pregunta1.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Boleanos</h2>
            <p>Este es el tipo más simple. Un boolean expresa un valor que indica verdad. Puede ser true (verdadero) o false (falso).</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>1. La batalla de boyaca fue en el año 1819</p>
          
          <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4">Seleciona tu respuesta</label>
            <select class="form-select" id="exampleSelect1" name="Pregunta1">
              <option value="False">Falso</option>
              <option value="True">Verdadero</option>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </fieldset>
      </form>
</body>
</html>