<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
    href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

<script src=''></script>
    <title>Document</title>
</head>
<body>
    <form action="../Logica/Tipos/Pregunta4.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Cadenas de caracteres</h2>
            <p>Un string, o cadena, es una serie de caracteres donde cada carácter es lo mismo que un byte. Esto significa que PHP solo admite un conjunto de 256 caracteres, y de ahí que no ofrezca soporte nativo para Unicode.</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>4. Digite un texto para mostrar en cadena de caracteres</p>

            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Digite una palabra o texto</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="Campo1">
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" value="Sumar">Enviar</button>
        </fieldset>
      </form>
</body>
</html>