<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="../Logica/Tipos/Pregunta9.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Declaraciones de tipos</h2>
            <p>Las declaraciones de tipo pueden ser añadidas a los argumentos de función, valores de retorno y desde PHP 7.4.0,
            propiedades de clase.</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>10. Nos mostrara "float(3)"</p>
            <br>
            <button type="submit" class="btn btn-primary" value="Mostrar">Mostrar</button>
        </fieldset>
    </form>
</body>

</html>