<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>
<body>
    <form action="../Logica/Tipos/Pregunta2.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Enteros</h2>
            <p> los números enteros son aquellos números positivos y negativos, incluido el cero, que no tienen parte decimal dentro de su estructura (3,28, por ejemplo, no es un número entero).</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>2. Realizar la suma y la resta de dos numero enteros</p>

            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Numero 1</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="Campo1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Numero 2</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="Campo2">
              </div>
          <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4">Seleciona tu respuesta</label>
            <select class="form-select" id="exampleSelect1" name="opcion">
                <option value="Suma">Suma</option>
                <option value="Resta">Resta</option>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </fieldset>
      </form>
</body>
</html>