<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
    href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

<script src=''></script>
    <title>Document</title>
</head>
<body>
    <form action="../Logica/Tipos/Pregunta3.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Números de punto flotante</h2>
            <p> es un número decimal que representa un número real con signo. La representación de un número real con signo incluye una parte entera, una parte fraccionaria y un exponente. Use constantes de punto flotante para representar valores de punto flotante que no se pueden cambiar.</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>3. Realizar la suma de dos numero decimales</p>

            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Numero 1</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="Campo1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4">Numero 2</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="Campo2">
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" value="Sumar">Enviar</button>
        </fieldset>
      </form>
</body>
</html>