<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
    href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

<script src=''></script>
    <title>Document</title>
</head>
<body>
    <form action="../Logica/Tipos/Pregunta6.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Iterables</h2>
            <p>Es un seudotipo introducido en PHP 7.1. Acepta cualquier array u objeto que implemente la interfaz Traversable. Estos dos tipos se recorren con foreach y se pueden emplear con yield from dentro de un generador.</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>6. Al precionar el boton mostrar retornara un valor iterable el cual es " 3 "</p>
          <br>
          <button type="submit" class="btn btn-primary" value="Mostrar">Mostrar</button>
        </fieldset>
      </form>
</body>
</html>