<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="../Logica/Tipos/Pregunta8.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Llamadas de retorno</h2>
            <p>Las llamadas de retorno, o retrollamadas, se pueden indicar con la declaración de tipo callable a partir de PHP 5.4.
            Esta documentación utilizó la información del tipo callback con el mismo propósito.
            
            Algunas funciones como call_user_func() o usort() aceptan como parámetro funciones de llamada de retorno definidas por
            el usuario. Las funciones de llamadas de retorno no sólo pueden ser funciones simples, sino también métodos de un
            object, incluyendo métodos de clase estáticos.</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>10. retornara los siguientes datos "2, 4, 6, 8, 10"</p>
            <br>
            <button type="submit" class="btn btn-primary" value="Mostrar">Mostrar</button>
        </fieldset>
    </form>
</body>

</html>