<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="../Logica/Tipos/Pregunta7.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Manipulación de tipos</h2>
            <p>PHP no requiere (ni soporta) la definición explicita de tipos en la declaración de variables; el tipo de la variable se
            determina por el contexto en el cual se emplea la variable. Es decir, si se asigna un valor string a una variable $var,
            entonces $var se convierte en un string. Si un valor integer es entonces asignado a la misma variable $var, ésta se
            convierte en integer.
            </p>
        </fieldset>
    </form>
</body>

</html>