<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="../Logica/Tipos/Pregunta7.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Null</h2>
            <p>El valor especial null representa una variable sin valor. null es el único valor posible del tipo null.
            Una variable es considerada null si:            
            </p>
            <li>se le ha asignado la constante null.</li>
            <li>no se le ha asignado un valor todavía.</li>
            <li>se ha destruido con unset().</li>
        </fieldset>
    </form>
</body>

</html>