<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
    href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

<script src=''></script>
    <title>Document</title>
</head>
<body>
    <form action="../Logica/Tipos/Pregunta7.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Objetos</h2>
            <p>Es una instancia individual de la estructura de datos definida por una clase. Se define una clase una vez y a continuación se crean muchos objetos que pertenecen a ella. Los objetos también se conocen como instancia.</p>

            <br>
            <hr style="color: green;"><br>
            <h4>Ejercicio</h4>
            <p>8. Al precionar el boton mostrar retornara un valor que esta almacenado en un objeto el cual es "Haciendo algo."</p>
          <br>
          <button type="submit" class="btn btn-primary" value="Mostrar">Mostrar</button>
        </fieldset>
      </form>
</body>
</html>