<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' type='text/css' media='screen'
            href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>
        
        <script src=''></script>
    <title>Document</title>
</head>
<body>
    <form action="../Logica/Tipos/Pregunta7.php" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Recursos</h2>
            <p>Un valor tipo resource es una variable especial, que contiene una referencia a un recurso externo. Los recursos son
            creados y usados por funciones especiales. Vea el apéndice para un listado de todas estas funciones y los tipos resource
            correspondientes.
            </p>
        </fieldset>
    </form>
</body>
</html>