<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Operadores para strings</h2><br>
            <p>Existen dos operadores para datos tipo string. El primero es el operador de concatenación ('.'), el cual retorna el
            resultado de concatenar sus argumentos derecho e izquierdo. El segundo es el operador de asignación sobre concatenación
            ('.='), el cual añade el argumento del lado derecho al argumento en el lado izquierdo.
            </p>

            <hr style="color: green;"><br>
            <h2>Ejemplo</h2><br>
            <img src="../../asset/img/oo10.png" alt="" srcset="">
            
        </fieldset>
    </form>
</body>

</html>