<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css"
    />

    <script src=""></script>
    <title>Document</title>
  </head>

  <body>
    <form action="" method="post">
      <fieldset>
        <h2 style="font-weight: 800">Operadores arítmeticos</h2>
        <br />
        <p>
          Se usan para calcular un valor de dos o más números, o cambiar el
          signo de un número de positivo a negativo o viceversa.
        </p>

        <br />

        <img src="../../asset/img/o3.png" alt="" srcset="" />
      </fieldset>
    </form>
  </body>
</html>
