<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Operadores de asignación</h2><br>
            <p>El operador básico de asignación es "=". Se podría inclinar a pensar primero que es como un "igual a". No lo es.
            Realmente significa que el operando de la izquierda se establece con el valor de la expresión de la derecha (es decir,
            "se define como").
            <br><br>
            El valor de una expresión de asignación es el valor asignado. Es decir, el valor de "$a = 3" es de 3.
            </p>

            <br>
            
            <img src="../../asset/img/o4.png" alt="" srcset="">
            
        </fieldset>
    </form>
</body>

</html>