<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Operadores de incremento y decremento</h2><br>
            <p>Los Operadores de incremento y decremento son operadores unarios que agregan o sustraen uno de sus operandos,
            respectivamente. Son normalmente implementados en lenguajes de programación imperativos.
            </p>
            
            <br>

            <img src="../../asset/img/o8.png" alt="" srcset="">
            <br><br>
            <hr style="color: green;"><br>
            <h2>Ejemplo</h2><br>
            <img src="../../asset/img/oo8.png" alt="" srcset="">
            
        </fieldset>
    </form>
</body>

</html>