<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../asset/css/SumaV.css" />
    <title>Document</title>
  </head>
  <body>
    <p>Ingrese dos numeros para que se calcule la suma, resta, multiplicación y división de los dos numeros</p>
    <form action="Ejercicio.php" method="post">
      <div class="content">
        <input type="number" name="num1" /><br><br>
        <input type="number" name="num2" /><br><br>
        <input type="submit" value="Calcular" name="btnEnviar" />
      </div>
    </form>
  </body>
</html>
