<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Ámbito de las variables</h2>
            <p>El ámbito de una variable es el contexto dentro del que la variable está definida. La mayor parte de las variables PHP
            sólo tienen un ámbito simple. Este ámbito simple también abarca los ficheros incluídos y los requeridos.
            </p>

        </fieldset>
    </form>
</body>

</html>