<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Variables Predefinidas</h2>
            <p>Proporcionan una gran cantidad de variables predefinidas a cualquier script que se ejecute. De todas formas, muchas de
            esas variables no pueden estar completamente documentadas ya que dependen de sobre qué servidor se esté ejecutando, la
            versión y configuración de dicho servidor, y otros factores. Algunas de estas variables no estarán disponibles cuando se
            ejecute PHP desde la línea de comandos.
            </p>
            
        </fieldset>
    </form>
</body>

</html>