<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css"
    />

    <script src=""></script>
    <title>Document</title>
  </head>

  <body>
    <form action="" method="post">
      <fieldset>
        <h2 style="font-weight: 800">Continue</h2>
        <br />
        <p>
          Se utiliza dentro de las estructuras iterativas para saltar el resto de la iteración actual del loop y continuar a la siguiente iteración para su ejecución:
        </p>

        <hr style="color: green" />
        <br />
        <h2>Ejemplo</h2>
        <br />
        <img src="../../asset/img/i10.png" alt="" srcset="" /><br /><br />
        <p>
          El código anterior hace que cuando el número sea par, continue se ejecute y no muestre el print de después, sino que vuelva a empezar con la siguiente iteración. print sólo se ejecutará cuando $i sea impar.
        </p>
      </fieldset>
    </form>
  </body>
</html>
