<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css"
    />

    <script src=""></script>
    <title>Document</title>
  </head>

  <body>
    <form action="" method="post">
      <fieldset>
        <h2 style="font-weight: 800">Declare</h2>
        <br />
        <p>
          El constructor declare es usado para fijar directivas de ejecución para un bloque de código.
        </p>

        <hr style="color: green" />
        <br />
        <h2>Ejemplo</h2>
        <br />
        <img src="../../asset/img/i13.png" alt="" srcset="" /><br /><br />
        <p>
          
        </p>
      </fieldset>
    </form>
  </body>
</html>
