<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css"
    />

    <script src=""></script>
    <title>Document</title>
  </head>

  <body>
    <form action="" method="post">
      <fieldset>
        <h2 style="font-weight: 800">Return</h2>
        <br />
        <p>
          Return devuelve el control del programa al módulo que lo invoca. La ejecución vuelve a la siguiente declaración después del módulo que lo invoca.
        </p>

        <hr style="color: green" />
        <br />
        <h2>Ejemplo</h2>
        <br />
        <img src="../../asset/img/i14.png" alt="" srcset="" /><br /><br />
        <p>
          <li>Si se usa en una función, return hace que la función termine, devolviendo los argumentos que le sigan como valor de la llamada a la función.</li>
          <li>Si se llama globalmente, finaliza la ejecución del script actual.</li>
          <li>Si el archivo actual fue incluido o requerido, el control regresa al archivo que llama al include o require.</li>
          <li>Si el archivo está incluído con include, los argumentos del return se devolverán como valor de la llamada include.</li>
          <li>Si return se usa en el archivo principal del script, termina la ejecución del script.</li>
          <li>También termina la ejecución de una sentencia eval().</li>
          <br>
          Es recomendable no usar paréntesis después de return.


        </p>
      </fieldset>
    </form>
  </body>
</html>
