<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css"
    />

    <script src=""></script>
    <title>Document</title>
  </head>

  <body>
    <form action="" method="post">
      <fieldset>
        <h2 style="font-weight: 800">Include_once</h2>
        <br />
        <p>
          La sentencia include_once incluye y evalúa el fichero especificado
          durante la ejecución del script. Tiene un comportamiento similar al de
          la sentencia include, siendo la única diferencia de que si el código
          del fichero ya ha sido incluido, no se volverá a incluir, e
          include_once devolverá true. Como su nombre indica, el fichero será
          incluido solamente una vez. <br><br> include_once se puede utilizar en casos
          donde el mismo fichero podría ser incluido y evaluado más de una vez
          durante una ejecución particular de un script, así que en este caso,
          puede ser de ayuda para evitar problemas como la redefinición de
          funciones, reasignación de valores de variables, etc.
        </p>
      </fieldset>
    </form>
  </body>
</html>
