<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css"
    />

    <script src=""></script>
    <title>Document</title>
  </head>

  <body>
    <form action="" method="post">
      <fieldset>
        <h2 style="font-weight: 800">Do-while</h2>
        <br />
        <p>
          Muy similares a los loops while, simplemente aquí la expresión para el
          loop se verifica al final en lugar de al principio, esto garantiza que
          el código se ejecute por lo menos la primera vez.
        </p>

        <hr style="color: green" />
        <br />
        <h2>Ejemplo</h2>
        <br />
        <img src="../../asset/img/i6.png" alt="" srcset="" /><br /><br />
        <p>
          Este loop se ejecutaría sólo una vez, ya que después no cumple la
          condición.
        </p>
      </fieldset>
    </form>
  </body>
</html>
