<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css"
    />

    <script src=""></script>
    <title>Document</title>
  </head>

  <body>
    <form action="" method="post">
      <fieldset>
        <h2 style="font-weight: 800">For</h2>
        <br />
        <p>
          Los loops for son los más complejos en PHP.
        </p>

        <hr style="color: green" />
        <br />
        <h2>Ejemplo</h2>
        <br />
        <img src="../../asset/img/i7.png" alt="" srcset="" /><br /><br />
        <p>
          <li>Las expresiones o conjunto de expresiones van separadas por punto y coma ; y sólo hay 3.</li>
          <li>La primera expresión, $i = 1, se ejecuta una vez incondicionalmente al comienzo del bucle.</li>
          <li>La segunda expresión, $i <= 10, es una condición, si es true, se ejecutará la tercera expresión.</li>
          <li>La tercera expresión, $i++, es la acción a realizar si se cumple la segunda expresión.</li>
        </p>
      </fieldset>
    </form>
  </body>
</html>
