<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Constantes</h2>
            <p>Una constante es un identificador (nombre) para un valor simple. Como el nombre sugiere, este valor no puede variar
            durante la ejecución del script (a excepción de las constantes mágicas, que en realidad no son constantes). Por defecto,
            una constante distingue mayúsculas y minúsculas. Por convención, los identificadores de constantes siempre se declaran
            en mayúsculas.
            </p>

        </fieldset>
    </form>
</body>

</html>