<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen'
        href='../../asset/library/node_modules/bootswatch/dist/sandstone/bootstrap.css'>

    <script src=''></script>
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        <fieldset>
            <h2 style="font-weight: 800;">Sintaxis</h2>
            <p>Se puede definir una constante usando la función define() o con la palabra reservada const fuera de la definición de una
            clase a partir PHP 5.3.0. Mientras que define() permite definir una constante con una expresión arbitraria, la palabra
            reservada const tiene retricciones que se resumen en el siguiente párrafo. Una vez que la constante está definida, no
            puede ser cambiada o redifinida.
            </p>

        </fieldset>
    </form>
</body>

</html>